 <div class="left-sidebar">
    <h2>Categorias</h2>
    <div class="panel-group category-products" id="accordian">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a href="#">Todos Produtos</a>
				</h4>
			</div>
		</div>

        <div class="panel panel-default">
            <div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
						<span class="badge fa-pull-right"><i class="fa fa-plus"></i></span>
						Vestuário
					</a>
				</h4>
			</div>
            <div id="sportswear" class="panel-collapse collapse">
				<div class="panel-body">
					<ul>
						<li><a href="" class="teste-link">Todas </a></li>
						<li><a href="" class="teste-link">Camisetas </a></li>
						<li><a href="" class="teste-link">Calças </a></li>
						<li><a href="" class="teste-link">Moletons</a></li>
						<li><a href="" class="teste-link">Tênis </a></li>
					</ul>
				</div>
			</div>
        </div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordian" href="#mens">
						<span class="badge fa-pull-right"><i class="fa fa-plus"></i></span>
						Utensílios
					</a>
				</h4>
			</div>
			<div id="mens" class="panel-collapse collapse">
				<div class="panel-body">
					<ul>
						<li><a href="">Todas</a></li>
						<li><a href="">Canecas</a></li>
						<li><a href="">Chaveiros</a></li>
					</ul>
				</div>
			</div>
		</div>
    </div>
</div>